html {
  max-width: auto;
  height: auto;
}
body {
    margin: 0;
    font-family: 'Nunito Sans', Arial, sans-serif;
  }
  main{
    padding-top: 100px;
    padding-left: 50px ;
    padding-bottom: 300px;
    padding-right: 50px;
    text-align: center;
    background-image: url(back\ photo.png);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center center;
  }
 h1 {
font-size: 40px;
font-weight: 800;
color: rgba(255, 255, 255, 1);
}

 
h2{
  font-size: 28px;
  font-weight: 800;
  color: rgba(255, 255, 255, 1);
}


  header {
    background-color: rgba(255, 255, 255, 1);
    padding: 80px;
    display: flex;
    justify-content: left;
    align-items: left;
  }
  
  .logo img {
    max-width: auto;
    max-height: 85px;
    top: auto;
    left: auto;
    padding: auto;
  }
  
  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  button {
    background-color: rgba(134, 134, 134, 0.5);
    font-family: 'Nunito Sans', Arial, sans-serif;
    color: rgba(255, 255, 255, 1);
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
  }

  #button1 {
    width: 561px;
    height: 288px;
    margin-right: 20px;
  }

#button2 {
    width: 561px;
    height: 288px;
    margin-right: 20px;
  }

  .filter {
    margin-bottom: 20px;
  }
  
  .slider {
    display: flex;
    overflow-x: scroll;
  }
  
  .card {
    width: 200px;
    margin: 0 10px;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .form-container {
    margin-top: 20px;
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 768px) {
    header {
      padding: 10px; /* Adjust padding for smaller screens */
    }
  
    .logo img {
      max-width: 80%; /* Adjust image size for smaller screens */
    }
  
    button {
      max-width: 100%; /* Make the button fill the width on smaller screens */
    }
  }
  
  /* Add more media queries as needed for different screen sizes */
  