body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 28px;
  }
  main{
    padding-left: 50px ;
    padding-bottom: 300px;
    padding-right: 50px;
    text-align: center;
  }
 h1 {
font: size 36px; 

 } 
 h2 {
    font: size 28px; 
     } 
  header {
    background-color: grey;
    padding: 80px;
    text-align: center;
  }
  
  .logo img {
    max-width: 100%;
    height: auto;
    top: auto;
    left: auto;
    padding: auto;
  }
  
  button {
    color: rgb(68, 58, 59);
    background-color: bisque;
    max-width: 900px;
    max-height: 600px;
  }
  
  
  /* Responsive Styles */
  @media screen and (max-width: 768px) {
    header {
      padding: 10px; /* Adjust padding for smaller screens */
    }
  
    .logo img {
      max-width: 80%; /* Adjust image size for smaller screens */
    }
  
    button {
      max-width: 100%; /* Make the button fill the width on smaller screens */
    }
  }
  
  /* Add more media queries as needed for different screen sizes */
  