html {
  max-width: 100%;
  height: 100%;
}
body {
  margin: 0;
  font-family: "Nunito Sans", Arial, sans-serif;
}
main {
  padding-top: 10vh;
  padding-left: 5vh;
  padding-bottom: 20vh;
  padding-right: 5vh;
  text-align: center;
  background-image: url(back\ photo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

h1 {
  font-size: 40px;
  font-weight: 800;
  color: rgba(255, 255, 255, 1);
}

h2 {
  font-size: 28px;
  font-weight: 800;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 0.02rem;
}
.h2-page-2rec {
  font-style: italic;
  font-weight: 100;
  letter-spacing: 0.02rem;
}

header {
  background-color: rgba(255, 255, 255, 1);
  padding: 80px;
  display: flex;
  justify-content: left;
  align-items: left;
}

.logo img {
  max-width: auto;
  max-height: 85px;
  top: auto;
  left: auto;
  padding: auto;
}
.girl-Img {
  position: absolute;
  left: 1%; /* Adjust the left position as needed */
  top: 60%; 
  right: 90%;
  transform: translateY(340%);
}

.man-Img {
  position: absolute;
  right: 1%; /* Adjust the right position as needed */
  top: 60%;
  left: 90%; 
  transform: translateY(340%);
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: rgba(134, 134, 134, 0.5);
  font-family: "Nunito Sans", Arial, sans-serif;
  color: rgba(255, 255, 255, 1);
  border-radius: 20px;
  border: none;
  outline: none;
  cursor: pointer;
}

#button1 {
  background-color: rgba(255, 154, 116, 0.5);
  width: 100%; 
  max-width: 561px;
  height: 288px; 
  margin: 10%; 
}

#button2 {
  background-color: rgba(114, 224, 255, 0.5);
  width: 100%; 
  max-width: 561px; 
  height: 288px; 
  margin: 10px 0; 
}

#button3 {
  background-color: rgba(255, 154, 116, 0.5);
  max-width: 300px;
  height: auto; 
  border-radius: 30px;}

#button4 {
  background-color: rgba(255, 154, 116, 0.5);
  width: 300px;
  height: 110px;
  margin-right: 200px;
  border-radius: 30px;
}
#button5 {
  background-color: rgba(114, 224, 255, 0.5);
  width: 300px;
  height: 110px;
  border-radius: 30px;
}
.filter {
  margin-bottom: 20px;
}


/* ----page_3_leaveCV.html------ */

.form-container {
  display: block;
  margin-top: 2%;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 10%;
  font-weight: 400; 
  border-color: rgba(184, 231, 244, 0.5);
  background-color: rgba(184, 231, 244, 0.5);
  border-radius: 33px;
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.form-columns {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 25px;
}

.form-column {
  padding-left: 4%;
  flex: 1;
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  max-width: auto;
  max-height: 66px;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #58adc5;
  border-radius: 18px;
  background-color: #f8f8f8;
}

.form-container h1 {
  color: rgba(36, 71, 81, 1);
  text-align: center;
  font-size: 28px;
  padding-top: 40px;
}

input[type="file"] {
  display: none;
}
.label-as-button,
.submit-button button {
  width: 100%; /* Ensuring buttons are full-width on smaller screens */
}

.label-as-button {
  display: inline-block;
  width: 160px;
  max-height: 44px;
  padding: 10px 15px;
  background-color: #58ADC5;
  color: white;
  text-align: center;
  border-radius: 18px;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
}

.button-container {
  display: flex;
  flex-wrap:wrap;/* Allow buttons to wrap to the next line if needed */
  justify-content: center;
  align-items: center;
  margin-left: -5%;
  margin-top: 8.9%;
  margin-bottom: 5%;
  margin-right: -20%;
}

.button-container .form-upload {
  margin-right: 8%; /* Add spacing between buttons */
}

.form-upload {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.submit-button button {
  display:inline-block;
  width: 218px;
  max-height: 66px;
  padding: 8px 8px;
  background-color: #FF9A74;
  color: white;
  text-align: center;
  letter-spacing: .1rem;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 600;
  font-size: 28px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.submit-button {
  display: flex;
  justify-content: center;
 padding-bottom: 5%;
}

/* -------------------------------------- */

/* ----page_4_meetOurStudents.html------ */


.card {
  width: 300px;
  margin: 1%;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 1);
  padding: 10px;
  display: inline-block; /* Make cards display inline */
  vertical-align: top; /* Align cards to the top of the container */
  box-sizing: border-box;
  width: calc(33.333% - 2%); /* Adjust the width to create a small gap between cards */
  box-shadow: rgba(0, 0, 0, 0.19) 0px 2px 6px, rgba(0, 0, 0, 0.23) 0px 1px 1px;
  transition: transform 0.3s ease-in-out;
}

.card img {
  max-width: 250px;
  width: 100%; /* Make the image inside the card take 100% of the card width */
  border-radius: 10px; /* Add border-radius to the image */
  margin: 5%;
}

.card h3 {
  font-size: 16px; /* Adjust font size for mobile devices */
}

.card p {
  font-size: 14px; /* Adjust font size for mobile devices */
}

.profilesGrid {
  display:inline;
  overflow-x: scroll;
  flex-wrap: wrap;
}
.card:hover {
  transform: scale(1.03);
}


/* Responsive Styles */
@media screen and (max-width: 768px) {
  .form-columns {
    flex-direction: column;
  }

  .form-upload {
    flex: 1;
    margin-right: 0;
  }
  .label-as-button {
    width: 100%; /* Make the button fill the width on smaller screens */
   
  }

  .button-container {
    flex-direction: column; /* Stack buttons vertically on smaller screens */
    align-items:center; 
    margin: 10%;
  }

  .button-container .form-upload:first-child {
    margin-bottom: 10px; /* Add spacing between buttons on smaller screens */
  }

  header {
    padding: 10px; /* Adjust padding for smaller screens */
  }

  .logo img {
    max-width: 80%; /* Adjust image size for smaller screens */
  }

  

  .girl-Img,
  .man-Img {
    position: static;
    transform: none;
    margin-top: 20px;
    width: 50%; /* Make them take half of the width each */
  }

  .girl-Img {
    float: left; /* Float girl image to the left */
  }

  .man-Img {
    float: right; /* Float man image to the right */
  }

  #button1,
  #button2,
  #button3 {
    width: 100%; /* Set width to 100% on smaller screens */
    height: auto; /* Allow height to adjust based on content */
    margin: 2% 1%; /* Adjust margin for spacing between buttons */
    display: inline-block;
  }

  #button4,
  #button5 {
    width: 100%; /* Set width to 100% on smaller screens */
    height: auto; /* Allow height to adjust based on content */
    margin: 10px 10px; /* Adjust margin for spacing between buttons */
    display: inline-block;
  }
.card {
  width: 100%; /* Set the width to 100% on smaller screens */
  margin: 1% 0; /* Adjust margin to provide spacing between cards */
}
}